@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

.navbar {
  background-color: #abd3e3;
  border-color: none;
  font-family: 'Montserrat', sans-serif;
  
}

.navbar :hover {
  background-color: #abd3e3;
}

.storyboard-nav .sbframelist ul li.active {
    background-image: url("images/tiktok_logo.png"), linear-gradient(#abd3e3, #abd3e3);
    background-size: 100% 100%;
}

.storyboard-nav .sbframelist ul li:hover {
    background-image: url("images/tiktok_logo.png"), linear-gradient(#1b4b5d, #1b4b5d);
    color: white;
}

.storyboard-nav .sbframelist ul li {
    background-image: linear-gradient(#abd3e3, #abd3e3);
    color: white;
}



body {
  font-family: 'Montserrat', sans-serif;
}
